.angle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d9d7dd;
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

.angle .dialer {
  border-radius: 100%;
  background: #ffffff;
  font-family: "Montserrat";
  border: 5px solid white;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.angle .wrap {
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

.angle .dial,
.angle .base {
  position: absolute;
  height: 60px;
  width: 6px;
  margin: auto;
  top: -50%;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transform-origin: bottom center;
  transform: rotate(-90deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.angle .dial.selected,
.angle .dial:hover {
  transform: rotate(-89deg);
  box-shadow: 2 2 10px 0 rgba(0, 0, 0, 0.4);
  border: solid 1px red;
}

.angle .dial.selected::before {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 1px solid red;
  background-color: white;
  display: inline-block;
  content: " ";
  top: -10px;
  left: -4px;
  position: relative;
}

.angle .dial {
  position: absolute;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(-90deg);
  background: #ff4b3e;
  cursor: pointer;
}

.angle .dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
  z-index: 1;
}
